@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

li {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1300px;
  padding: 0px 20px;
  margin: 0 auto;
}

/* UP HEADER */

.upHeader {
  border-bottom: 1px solid rgb(231, 227, 227);
}

.all_upHeader {
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding: 12px 0px;
  background-color: #fff;
}

.left_upHeader_faq,
.right_upHeader_faq {
  display: flex;
}

.left_upHeader_faq_li,
.right_upHeader_faq_li,
.right_upHeader_faq_li_list {
  padding: 0 20px;
}

.right_upHeader_faq_li {
  padding: 0 10px !important;
  color: #292621;
  font-size: 14px;
}
.right_upHeader_faq_li:hover i {
  transform: rotateY(180deg);
  transition: all 0.4s;
  color: red;
}

.right_upHeader_faq_li i {
  color: #292621;
  font-size: 15px;
  transition: all 0.4s ease-out 0s;
}

.right_upHeader_faq_li_list {
  border-right: 1px solid rgb(231, 227, 227);
}

.left_upHeader_faq_li a,
.right_upHeader_faq_li_list a {
  color: #292621;
  font-size: 13px;
}

/* MAIN HEADER */

.mainHeader {
  display: flex;
  justify-content: space-between;
  min-height: 100px;
  padding: 25px 0px;
  background-color: #fff;
  position: relative;
  z-index: 3;
}

.mainHeader.active {
  position: fixed;
}

.menuBar_responsive {
  display: none;
}
.navBar {
  display: flex;
  align-items: center;
}
.navBar_ul {
  display: flex;
}

.navBar_li {
  padding: 0 20px;
}

.navBar_li:hover a {
  color: red;
  transition: all 0.3s linear;
}

.navBar_li_a {
  font-size: 15px;
  font-weight: 600;
  color: #141517;
}

.sup_li {
  border: 1px solid none;
  background-color: #ff2020;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  font-size: 9px;
  padding: 1px 4px;
  letter-spacing: 1px;
  font-weight: 500;
}

.pages_dropdown_ul {
  display: none;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid none;
  height: auto;
  width: auto;
  position: absolute;
}

.pages_dropdown_li {
  padding: 10px 0;
  font-size: 14px;
  font-weight: 700;
}

.pages_dropdown_li_a {
  color: #141517 !important;
}
.pages:hover .pages_dropdown_ul {
  display: block;
}

.pages_dropdown_li:hover {
  letter-spacing: 0.1rem;
}

.pages_dropdown_li_a:hover {
  color: red !important;
}

#pages_down {
  font-size: 10px;
  color: #141517;
}
.navBar_icon,
.navBar_icon_ul {
  display: flex;
  align-items: center;
}

.navBar_icon_li {
  padding: 0 10px;
  font-size: 1.6rem;
}

.navBar_icon_li_a:hover {
  color: #ff2020;
  transition: all 0.2s;
}

/* LOGIN  */

.login-form-container {
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100%;
  width: 100%;
}

.login-form-container.active {
  display: flex;
}

.login-form-container form {
  background: #fff;
  border: 1px solid grey;
  width: 40rem;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 0.5rem;
  margin: 2rem;
}

.login-form-container form h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #292621;
  text-align: center;
}

.login-form-container form span {
  display: block;
  font-size: 1.4rem;
  padding-top: 1rem;
}
.login-form-container form .box {
  width: 100%;
  margin: 0.7rem 0;
  font-size: 1.6rem;
  border: 1px solid grey;
  border-radius: 0.5rem;
  padding: 1rem 1.2rem;
  color: #141517;
  text-transform: none;
}

.login-form-container form .checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 0;
}

.login-form-container form .checkbox label {
  font-size: 1.5rem;
  color: lightslategray;
  cursor: pointer;
}

.login-form-container form .btn {
  text-align: center;
  width: 100%;
  margin: 1.5rem 0;
}

.login-form-container form p {
  padding-top: 0.8rem;
  color: rgb(23, 171, 23);
  font-size: 1.3rem;
}

.login-form-container form p a {
  color: rgb(23, 171, 23);
  text-decoration: underline;
}

.login-form-container #close-login-btn {
  display: flex;
  justify-content: right;
  position: relative;
  font-size: 2.5rem;
  cursor: pointer;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.9rem 3rem;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  background: red;
  font-size: 1.7rem;
  cursor: pointer;
  font-weight: 500;
}

.btn:hover {
  background: rgb(0, 145, 0);
  transition: all 0.4s;
}

/* SLIDER  */

.slider {
  display: flex;
  position: relative;
  flex-direction: column;
}
.slider p {
  font-family: "Clicker Script", cursive;
  font-size: 56px;
  color: orangered;
}
.slider h1 {
  font-size: 28px;
}
.slider .desc {
  font-size: 18px;
  margin: 20px 0;
}

.slider .desc span {
  color: #ff2020;
  font-weight: 600;
}
.slider .shop_btn {
  outline: none;
  border: none;
  background-color: #292621;
  color: #f1f1f1;
  padding: 15px 35px;
  border-radius: 3px;
}
.slider .shop_btn:hover {
  background-color: #f1f1f1;
  border: 1px solid black;
  color: black;
  transition: all 0.2s;
}
.slider .button {
  width: 50px;
  cursor: pointer;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.2745098039);
  border: none;
  position: absolute;
  top: 50%;
  z-index: 2;
  text-align: center;
  font-size: large;
  color: #f1f1f1;
  transition: all 0.3s ease-out 0s;
}

.slider .button:hover {
  background-color: #292621;
}

.slider .next {
  right: 0;
}

.text_upSlider {
  margin: 80px;
}

.slider .slider_box1 {
  padding: 80px 50px;
  height: 700px;
  text-align: left;
  justify-content: center;
  background-image: url(/img/h1_hero1.jpg);
}
.slider .slider_box2 {
  padding: 80px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: right;
  display: none;
  height: 700px;
  background-image: url(/img/h1_hero2.jpg);
}

/* FASHION THREE */

.fashion_three .boxes {
  padding: 30px 0px 30px 0px;
  display: flex;
  justify-content: space-between;
}

.fashion_three .boxes .box {
  width: 400px;
  height: 363px;
  overflow: hidden;
  display: flex;
}

.fashion_three .boxes .box .box_txt {
  display: block;
  position: absolute;
  align-self: flex-end;
  text-align: center;
  width: 400px;
  background: linear-gradient(to bottom, rgba(41, 38, 33, 0) 0%, #292621 100%);
}

.fashion_three .boxes .box .img_items {
  position: relative;
}

.fashion_three .boxes .box img {
  object-fit: contain;
  transition: all 1s ease-out 0s;
}

.fashion_three .boxes .box h2 {
  color: #fff;
  padding-bottom: 20px;
  cursor: pointer;
}

.fashion_three .boxes .box .box_a {
  padding-bottom: 20px;
  color: orange;
  display: none;
  transition: all 0.6s ease-out 0s;
}

.fashion_three .boxes .box .box_a a {
  text-decoration: underline;
}

.fashion_three .boxes .box:hover .box_a {
  display: block;
}

.fashion_three .boxes .box:hover .img_items img {
  transform: scale(1.1);
}

/* TRENDING THIS WEEK */

.trending_this_week .head_filter {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid #edeff2;
  margin-top: 40px;
  margin-bottom: 40px;
}

.trending_this_week .head_filter ul {
  display: flex;
  flex-wrap: wrap;
}

.trending_this_week .head_filter h1 {
  font-weight: 500;
  font-size: 34px;
  padding-top: 30px;
}

.trending_this_week .head_filter ul li {
  padding: 36px 12px;
  font-size: 16px;
  font-weight: 500;
  margin-right: 15px;
  cursor: pointer;
}

.trending_this_week .head_filter ul li:hover {
  color: #ff2020;
  border-bottom: 4px solid #ff2020;
  background: none;
}

.swiper {
  width: 100%;
  height: 420px;
  margin: 20px auto;
}

.swiper-slide {
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  object-fit: cover;
  background-size: cover;
}

.swiper-slide img {
  transition: all 0.6s ease-out 0s;
  display: block;
  object-fit: contain;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
}

.swiper-slide .slide_border {
  position: absolute;
  align-self: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #fff;
  border-radius: 15px;
}

.swiper-slide .slide_border a {
  display: none;
  font-size: 20px;
  width: 64px;
  height: 50px;
  text-align: center;
  line-height: 54px;
  margin: -3px;
  color: #292621;
}

.swiper-slide .slide_border a:hover {
  background-color: #ff2020;
}
.swiper-slide:hover .slide_border a {
  display: block;
}

.swiper-slide img:hover {
  transform: scale(1.1);
}

.swiper-slide .slide_text {
  position: absolute;
  align-self: flex-end;
}

.swiper-slide .slide_text p {
  font-size: 16px;
  margin-bottom: 10px;
}

.swiper-slide .slide_text span,
.swiper-slide .slide_text span span {
  font-size: 16px;
  font-weight: 500;
  font-variant-numeric: slashed-zero;
}

.swiper-slide .slide_text span {
  color: #5c5c5c;
  padding-left: 14px;
}

.swiper-slide .slide_text span span {
  margin-left: 12px;
  text-decoration: line-through;
  color: #cebd9c;
}

.swiper-slide:hover .slide_text span span {
  color: #cfbe9b;
}

.swiper-slide:hover .slide_text p {
  color: #ff2020;
}

.swiper-slide:hover .slide_text span {
  color: black;
}

/* CUSTOMER */

.customer_slider {
  padding: 60px 200px;
  display: flex;
  background-color: #f3ead8;
  justify-content: space-between;
  align-items: center;
}
.customer_slider i {
  font-size: 40px;
  cursor: pointer;
}
.customer_slider .customer_slider_items .customer_slider_item {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
}
.customer_slider .customer_slider_items .customer_slider_item h2 {
  font-size: 32px;
  font-weight: 500;
  padding-bottom: 30px;
}
.customer_slider .customer_slider_items .customer_slider_item p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.9;
}
.customer_slider .customer_slider_items .customer_slider_item .post {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.customer_slider .customer_slider_items .customer_slider_item .post .img {
  display: flex;
}

.customer_slider
  .customer_slider_items
  .customer_slider_item
  .post
  .img
  .post_txt {
  padding-left: 40px;
  align-self: center;
}

.customer_slider
  .customer_slider_items
  .customer_slider_item
  .post
  .img
  .post_txt
  h3 {
  color: #d90a0a;
}

.customer_slider
  .customer_slider_items
  .customer_slider_item
  .post
  .img
  .post_txt
  p {
  color: #4c4c4c;
}
.customer_slider .customer_slider_items .customer_slider_item .post .img img {
  width: 100px;
  height: 100px;
  border: 1px solid none;
  border-radius: 50%;
  object-fit: cover;
}

/* YOU MAY LIKE */

.you_may_like {
  padding-top: 7rem;
  padding-bottom: 6rem;
}

.you_may_like_txt {
  display: flex;
  justify-content: center;
  margin-bottom: 3.5rem;
  font-size: 20px;
}

/* NEWS */

.news {
  background-color: #f6f6f6;
  padding: 80px 0px 60px;
}

.latest_news h2 {
  text-align: center;
  font-size: 34px;
  font-weight: 500;
  color: #292621;
  line-height: 1.4;
  margin-bottom: 36px;
}

.news_all {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.news_box_img {
  display: flex;
  cursor: pointer;
}

.news_box_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news_box_text h4 {
  font-size: 15px;
  font-weight: 400;
  color: #74706b;
  margin: 18px 0px;
}

.news_box_text h3 {
  font-size: 22px;
  font-weight: 500;
  color: #292621;
  line-height: 1.4;
  margin-bottom: 12px;
  transition: all 0.3s ease-out 0s;
  cursor: pointer;
}

.news_boxes:hover .news_box_text h3 {
  color: #dc3545;
}

.news_box_text p {
  font-size: 16px;
  margin-bottom: 24px;
  color: #74706b;
  line-height: 1.6;
  font-weight: 400;
}

.news_box_text a {
  color: #292621;
  text-decoration: underline;
  font-weight: 600;
  transition: all 0.3s ease-out 0s;
}

.news_box_text a:hover {
  letter-spacing: 1.5px;
}

/* DELIVERY */

.delivery .delivery_faq {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 70px 18px 0px 18px;
}

.delivery .delivery_faq .delivery_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 50px;
  margin-bottom: 50px;
}

.delivery .delivery_faq .border {
  border-right: 2px solid #edeff2;
}

.delivery .delivery_faq .delivery_box .delivery_img {
  margin-bottom: 26px;
}

.delivery .delivery_faq .delivery_box h5 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 12px;
  letter-spacing: 0.6px;
  display: block;
  text-transform: capitalize;
  color: #2b2b2b;
  font-family: "Jost", sans-serif;
}

.delivery .delivery_faq .delivery_box p {
  color: #57667e;
  font-size: 14px;
}

/* FOOTER_TOP */

.footer {
  background-color: #171613;
  width: 100%;
}

.footer_contact {
  padding: 50px 0px 60px 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
  border-bottom: 1px solid #383734;
  margin-bottom: 60px;
}

.footer_contact_text h3 {
  color: white;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 12px;
}

.footer_contact_text p {
  color: white;
  font-size: 14px;
  font-weight: 400;
}

.mail_contact {
  display: flex;
  gap: 10px;
}

.mail_contact input {
  font-family: "Poppins", sans-serif;
  width: 400px;
  padding: 20px 25px;
  font-size: 15px;
  outline: none;
  border: none;
}
.mail_contact input::placeholder {
  font-size: 15px;
  color: #000018;
}

.mail_contact button {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: white;
  padding: 20px 25px;
  background-color: #ff2020;
  outline: none;
  border: none;
  cursor: pointer;
}

.social_media {
  display: flex;
  padding-top: 6px;
  gap: 20px;
  font-size: 25px;
  color: #677f8b;
}

.social_media i {
  transition: all 0.5s ease-out 0s;
}

.social_media i:hover {
  transition: all 0.5s ease-out 0s;
  transform: rotateY(180deg);
  color: #ff2020;
  cursor: pointer;
}

/* FOOTER BOTTOM */

.footer_bottom {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 100px;
  border-bottom: 1px solid #383734;
}

.footer_bottom_img img {
  display: flex;
  width: 200px;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}

.footer_bottom_box {
  width: 325px;
}

.footer_box {
  flex: 1;
  min-width: 230px;
}

.footer_box h4 {
  color: white;
  margin-bottom: 20px;
  font-size: 17px;
  font-weight: 500;
}
.footer_box li {
  font-size: 15px;
  color: #bbb9b5;
  line-height: 2;
}

.footer_box li a {
  transition: all 0.3s ease-out 0s;
}
.footer_box li a:hover {
  text-decoration: underline;
  letter-spacing: 0.6px;
}

/* FOOTER COPYRIGHT*/

.footer_copyright {
  padding: 45px 0px 30px 0px;
}

.footer_copyright p {
  color: #bbb9b5;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
}

.footer_copyright span {
  color: chartreuse;
  white-space: nowrap;
  padding-left: 5px;
  border: 3px solid;
  border-image: repeating-linear-gradient(
      135deg,
      #f8ca00 0 10px,
      #e97f02 0 20px,
      #bd1550 0 30px
    )
    8;
  -webkit-mask: conic-gradient(
        from 180deg at top 3px right 3px,
        #0000 90deg,
        #000 0
      )
      var(--_i, 200%) 0 /200% var(--_i, 3px) border-box no-repeat,
    conic-gradient(at bottom 3px left 3px, #0000 90deg, #000 0) 0
      var(--_i, 200%) / var(--_i, 3px) 200% border-box no-repeat,
    linear-gradient(#000 0 0) padding-box no-repeat;
  transition: 0.3s, -webkit-mask-position 0.3s 0.3s;
}

.footer_copyright span:hover {
  --_i: 100%;
  color: #cc333f;
  transition: 0.3s, -webkit-mask-size 0.3s 0.3s;
}

/* SCROLL */

.scroll_btn {
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #ff2020;
  font-size: 18px;
  height: 50px;
  width: 50px;
  color: #fff;
  position: fixed;
  right: 25px;
  bottom: 25px;
  border-radius: 50%;
  transition: all 0.2s ease-out 0s;
}

.scroll_btn:active {
  background-color: rgb(193, 6, 6);
}

/*       CONTACT PAGE       */

/* CONTACT HEADER */

.contact {
  font-family: "Jost", sans-serif;
}

.contact_header {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3ead8;
}

.contact_text h2 {
  font-size: 35px;
  margin: 0px 0px 13px;
  font-weight: 550;
}

.contact_text ul {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #74706b;
  padding: 0px 5px;
}

.contact_text ul .ct_border {
  border-right: 1px solid #74706b;
  padding-right: 18px;
}

/* CONTACT MAIN */

.contact_main {
  padding: 50px 0px;
}

.contact_map {
  margin-bottom: 70px;
}

.contact_touch {
  width: 100%;
  margin-bottom: 20px;
}

.contact_touch h2 {
  font-size: 26px;
  font-weight: 550;
  color: #292621;
}

.contact_faq {
  display: flex;
  justify-content: space-between;
}

.contact_mail textarea {
  width: 880px;
}

.contact_faq .contact_mail textarea {
  border: 1px solid #e5e6e9;
  width: 100%;
  padding: 7px 24px;
  margin-bottom: 30px;
  outline: 0;
}

.contact_faq .contact_mail textarea::placeholder {
  font-size: 13px;
}

.contact_mail #name,
.contact_mail #mail,
.contact_mail #subject {
  padding: 7px 24px;
  border: 1px solid #e5e6e9;
  outline: 0;
  height: 50px;
  font-size: 13px;
}

.contact_mail #name,
.contact_mail #mail {
  width: 425px;
}

.contact_mail #name {
  margin: 0px 24px 30px 0px;
}

.contact_mail #subject {
  width: 100%;
  margin-bottom: 30px;
}

.contact_mail button {
  padding: 18px 44px;
  margin: 16px 0px 30px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  color: #ff2020;
  background: #fff;
  border: 1px solid #ff2020;
  transition: all 0.3s ease-out 0s;
}

.contact_mail button:hover {
  background: #ff2020;
  color: #fff;
}

.contact_icons {
  padding-right: 60px;
  margin-left: 83px;
}
.contact_icons_home,
.contact_icons_phone,
.contact_icons_mail {
  display: flex;
  margin: 0px 0px 30px;
}

.contact_icons i {
  color: #8f9195;
  font-size: 27px;
  margin-right: 20px;
}
.contact_icons h3,
.contact_icons p {
  line-height: 1.6;
}

.contact_icons h3 {
  font-size: 16px;
  color: #2a2a2a;
}

.contact_icons p {
  font-size: 14.9px;
  color: #8a8a8a;
}
@media screen and (max-width: 992px) {
  .all_upHeader {
    display: none;
  }

  .container {
    padding: 0;
  }

  .mainHeader {
    background-color: #4c4c4c;
    margin: 0;
  }

  .menuBar_responsive {
    background-color: #141517;
    border: 1px solid none;
    color: #fff;
    margin: 5px 5px 6px;
    padding: 0.438em 0.625em;
    display: flex;
    align-items: center;
    border-radius: 4px;
  }

  .menuBar_responsive span {
    padding-right: 10px;
  }

  .menuBar.active {
    display: flex;
    flex-direction: column;
  }
  .menuBar.active ul {
    display: flex;
    flex-direction: column;
  }
  .menuBar.active ul li {
    display: flex;
    flex-direction: column;
  }
  .pages_dropdown_ul {
    display: none !important;
  }

  .pages:hover .pages_dropdown_ul {
    display: block !important;
  }

  .navBar,
  .navBar_icon {
    display: none;
  }

  /* FASHION THREE */

  .fashion_three .boxes {
    display: grid;
    grid-template-areas: 3, 1fr;
    justify-content: center;
  }

  .fashion_products img {
    min-height: 250px;
  }

  /* TRENDING */

  .swiper .slide_border a {
    max-width: 40px;
  }

  /* CUSTOMER */

  .customer_slider {
    padding: 0;
  }

  /* NEWS */

  .news_all {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    padding: 5px 10px;
  }

  /* DELIVERY */

  .delivery .delivery_faq .border {
    border-right: none;
  }

  /* FOOTER_TOP */

  .footer_contact {
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }

  .footer_top {
    display: block;
  }

  .mail_contact {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .mail_contact input {
    width: 100%;
  }
  .mail_contact button {
    width: 100%;
  }

  /* FOOTER BOTTOM */

  .footer_bottom {
    gap: 30px;
  }
  .footer_bottom_box {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }

  /* CONTACT */

  .contact_faq {
    display: block;
  }

  .contact_mail #name,
  .contact_mail #mail {
    width: 100%;
    margin-right: 0;
  }

  .contact_mail #mail {
    margin-bottom: 30px;
  }

  .contact_mail button {
    margin-left: 5px;
  }
  .contact_icons {
    padding-right: 0;
    padding-left: 5px;
    margin-top: 30px;
    margin-left: 0px;
  }
}
